@import "./static/scss/_app.scss";

.nav-footer {
  background: #f8f8fb;
  border-top: 1px solid #dcdde1;
  padding: 0px;
  color: 'black';
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.footerTextWrapper {
  display: flex;
  flex-direction: column;
}

.footerMoreInfo{
  @include font-regular-14-px-20-px;
  margin-top: auto;
  color: $color-neutrals-neutral-7;
}

.footerTitle {
  @include font-semibold-16-px-24-px;
  color: $color-neutrals-neutral-7;
}

.footerChuJSLogoLink {
  margin-left: 40px;
  margin-right: 26px;
}

.footerMoreInfoLink {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px $color-neutrals-neutral-7 dotted;

  &:hover {
    color: inherit;
    border-bottom: 1px $color-neutrals-neutral-7 solid;
    text-decoration: none;
  }
}
